html{
  font-family: "Helvetica Neue", Helvetica,  Arial, sans-serif;
}

body {
  display: block;
  margin: 0 auto;
}

h2 {
  background-color: white;
  color: #036564 !important;
  text-align: center;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  clear: both;
}
