{%  extends 'base.html' %}

{% block title %}
  <title>Elizabeth Rita Mutyaba | Resume</title>
{% endblock %}

{% block styles %}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% endblock %}

{% block body %}
  <header>
      <div class="navbar-header">
          <ul>
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="{{ url_for('resume') }}">Resume</a></li>
              <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
          </ul>
      </div>
  </header>


  <div class="jumbotron center">
      <h1>Welcome to my Website</h1>
      <p>Aspiring Web Developer.</p>
      <p>Legal Researcher and Analyst.</p>
      <p>Formerly a Business Analyst and Researcher.</p>
      <p>Passionate about programming, human rights and using technology to make an impact on people's lives.</p>
      <p>Love music, yoga, and hiking.</p>
  </div>
{% endblock %}
