<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Resume</title>
  <link type="text/css" rel="stylesheet" href="style-resume.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>

<body>
  <!-- <div id="container"> -->
  <div id="header">
    <h2>ELIZABETH RITA MUTYABA</h2>
    <p> <a href="mailto:ritamutyaba@gmail.com" target="_blank">ritamutyaba@gmail.com</a>
      <strong>
        ||</strong>
      " Linkedin: "
      <a href="https://www.linkedin.com/pub/rita-mutyaba/21/b07/737" target="_blank">/in/rita-mutyaba</a>
      <strong>
        ||</strong>
      " Github: "
      <a href="https://github.com/lizette112162" target="_blank">lizette112162</a>
      <strong>
        ||</strong>
  </p>
  </div>

  <ul class="resume-body">
    <li>
      <h4>SUMMARY AND OBJECTIVE</h4>
      <p>Aspiring Software Engineer with a background in Business Administration and Law.</p>
      <p>Expertise in proposal writing, management of teams and report writing.</p>
      <p>Exceptional writing and communication skills with a demonstrated ability to take initiative and work both independently and collaboratively.</p>
    </li>

    <li class="resume-field">
      <h4>EDUCATION</h4>
      <p class="resume-field-subtitle"><strong>Georgetown University Law Center</strong>, Juris Doctor, May 2010</p>
      <p>Activities: Staff Editor, Georgetown Immigration Law Journal</p>

      <p class="resume-field-subtitle"><strong>California Lutheran University</strong>, Bachelor of Science, Business Administration, May 2007</p>
      <p>Activities: Multicultural Ambassador for peace</p>
    </li>

  <li class="resume-field">
    <h4 class="resume-field-title">SELECTED EXPERIENCE</h4>

    <p class="resume-field-subtitle"><strong>Legal Tools Database Analyst</strong>, Central and Eastern European Initiative for International Criminal Law and Human Rights, Warsaw, Poland, September 2015 - current</p>
    <ul>
      <li>Plan the research for materials to be published in the Legal Tools Database (LTD) according to designated jurisdiction</li>
      <li>Narrowng down research criteria, planning schedule of work, identifying priorities regarding type of documents, their origin, time-frame</li>
      <li>Collect documents for publication in the LTD, together with accompanying information</li>
      <li>Edit meta-data, including the location in a given sub-collection or folder of the LTD, and publish the edited records</li>
    </ul>


    <p class="resume-field-subtitle"><strong>Business Analyst</strong>, BDO East Africa, East Africa, July 2012 - November 2015</p>
    <ul>
      <li>Provided objective and well analysed advisory solutions to clients to improve their business performance</li>
      <li>Successfully drafted a business plan for a child NGO, conducted SWOT analysis of the organization and suggested recommendations for change</li>
      <li>Drafted business proposals and expressions of interest. Proofread and edited reports.
          Monitored and evaluated projects. Designed quantitative questionnaires to collect data</li>
    </ul>


    <p class="resume-field-subtitle"><strong>Project Manager</strong>, Law and Advocacy for Women in Uganda, Kampala, Uganda, June 2012 - April 2015</p>
    <ul>
      <li>Conducted research and analyzed information on the social, economic and politial rights of Ugandan women.</li>
      <li>Reviewed and edited the human rights report: The Stakes are High:
        The Tragic Impact of Unsafe Abortion and Inadequate Access to Contraception in Uganda</li>
    </ul>


    <p class="resume-field-subtitle"><strong>Legal Analyst</strong>, International Criminal Court, The Hague, Netherlands, April 2011 - June 2012</p>
    <ul>
      <li>Conducted research and drafted memoranda. Drafted orders, decisions and submissions</li>
      <li>Analyzed evidence to assess whether there was a reasonable basis that crimes had been committed under the Court's jurisdiction</li>
      <li>Drafted, proofread and edited court documents</li>
    </ul>

    <p class="resume-field-subtitle"> <strong>Research Assistant</strong>, Georgetown University Law Center, Research Services, Washington, D.C., May 2008 - April 2011</p>
    <ul>
      <li>Conducted research, analyzed data and drafted legal memoranda</li>
      <li>Cite-checked, proofread, and edited journal articles and case books</li>
    </ul>
</li>
<li class="resume-field">
    <h4>TECHNICAL SKILLS</h4>
    <p>
      <strong>Languages </strong>: HTML/CSS, Python</p>
    <p>
      <strong>Frameworks</strong>: Bootstrap, jQuery</p>
</li>

 <li class="resume-field">
    <h4>ADDITIONAL COURSEWORK</h4>
  <ul>
    <li>Introduction to python programming (University of Michigan, Coursera)-Earned a certificate with distinction in course</li>
    <li>Completed Learn Python the Hard Way</li>
    <li>Completed Codecademy tracks in Python, HTML and CSS</li>
  </ul>
</li>


<li class="resume-field">
    <h4>PUBLICATIONS</h4>
  <ul>
    <li>An Analysis of the Cooperation Regime of the International Criminal Court and
      its Effectiveness in the Court’s Objective in Securing Suspects in its Ongoing Investigations and Prosecutions,
      International Criminal Law Review, November 2012</li>
    <li>Early Marriage: A Violation of Girls' Fundamental Rights in Africa, International Journal of Children's Rights, August 2011</li>
  </ul>
  </li>
</ul>
  <footer id="footer">Copyright 2015. Created by Elizabeth Rita Mutyaba</footer>
</body>

</html>
